.Item {
    background-color: white;
    width: 200px;
    height: 300px;
    margin-right: 2px;
}
.Item:last-child{
    margin-right: 0;
}
.Item .content {
    margin: 25px auto;
    text-align: center;
}
.Item .content .text1{
    font-size: 14px;
    color: #888888;
    font-weight: 400;
}
.Item .content .text2 {
    color: #444444;
    font-weight: 700;
    font-size: 30px;
}
.Item .content .text3 {
   font-size: 24px;
   font-weight: bold;
   color: #444444;
    line-height: 26px;
}
.Item .content .text4 {
    font-size: 16px;
    font-weight: bold;
    color: #777;
 }
 .Item .content .text5 {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    margin-top: 35px;
 }
