* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    min-width: 720px;
    font-family: 'Roboto', sans-serif;
}
.App {
    width: 1000px;
    height: 556px;
    margin: 0 auto;
    background-color: #F4F4F4;
}
.App .footer {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}
@media screen and (max-width: 1000px) {
 .App { max-width: 916px;
    min-width: 868px;
width: 868px;}
 }
 @media screen and (max-width: 870px) {
    .App { max-width: 745px;
        min-width: 740px;
    width: 740px;}
     }
     @media screen and (max-width: 868px) {
        .App { max-width: 745px;
            min-width: 740px;
        width: 740px;}
     }
     @media screen and (max-width: 850px) {
        .App { max-width: 745px;
            min-width: 740px;
        width: 740px;}
     }
         @media screen and (max-width: 790px) {
            .App { max-width: 790px;
                min-width: 750px;
            width: 760px;}
             }
             @media screen and (max-width: 770px) {
                .App { max-width: 745px;
                    min-width: 740px;
                width: 740px;}
             }
     @media screen and (max-width: 750px) {
        .App { max-width: 745px;
            min-width: 720px;
        width: 730px;}
     }
     @media screen and (max-width: 730px) {
        .App { max-width: 725px;
            min-width: 720px;
        width: 720px;}
     }