
.Slider {
    margin-top: 35px;
    height: 300px;
    display: flex;
    align-items: center;
}
.Slider .arrows {
    width: 100px;
    margin-top: 120px;
    cursor: pointer;
}
.Slider .outerArrows {
    height: 300px;
    width: 90px;
    cursor: pointer;
}
.Slider .arrows img{
    display: block;
    margin: auto;
    height: 50px;
    cursor: pointer;
}
